.container {
	background: theme.palette.background.paper;
	padding: theme.spacing(8, 0, 6);
}

.icon {
	margin-right: theme.spacing(2);
}
.button {
	margin-top: 40px;
}
.cardGrid {
	padding: 20px 0;
}
.card {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.cardMedia {
	padding-top: 56.25%;
	/*  16:9 */
}
.cardContent {
	flex-grow: 1;
}
.footer {
	background-color: theme.palette.background.paper;
	padding: 50px 0;
}
